doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		block scripts
	body
		block content
